:root {
    --parrotGreen: red;
    --backgroundCommonTheme: #121212;
}
.navbarcontainer {
    text-align: center;
    background-color: var(--parrotGreen);
    width: 100%;
    Height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoCss {
    width: 67px;
    height: 34px;
    Top: 20px;
}
.logoWrapper {
    margin-left: 32px;
    left: 32px;
}