@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
    --backgroundCommonTheme: #121212;
    --parrotGreen: #34C94B;
}
.inputStyle {
    Width: 568px;
    Height:48px;
    border-radius: 8px;
    border: 1px solid var(--black);
    color: var(--black);
    font-family: 'Poppins', sans-serif;
}
.buttonStyle {
    margin-left: -42px;
    background-color: #ffffff;
    border: 0px;
    height: 70%;
    border-radius: 
    0px, 8px, 8px, 0px;
    font-family: 'Poppins', sans-serif;
}
.searchWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.giveFeedbackBtn {
    width: 170px;
    height: 47px;
    padding: 10px, 16px, 10px, 16px;
    border-radius: 12px;
    border: 1px solid var(--backgroundCommonTheme);
    color: var(--parrotGreen);
    background-color: var(--backgroundCommonTheme);
    margin-right: 20px;
    font-family: 'Poppins', sans-serif;
}
.giveFeedbackBtn:hover {
    cursor: pointer;
}